body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.px1 {
  padding: 0 1rem;
}
.container {
  padding: 1rem;
}
.todo.completed  span {
  text-decoration: line-through;
}
.todo  {
  margin-bottom: 1rem;
  background: whitesmoke;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.todo i {
  cursor: pointer;
}
